@import "variables/colors";
@import "mixins/text";

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
}

html {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

body {
  @include regular-text;

  background: #a8c8c4 linear-gradient(to bottom left, #ccdeeb, #84b39e)
    no-repeat;
  color: $main-font-color;
  min-height: 100%;
}

a {
  color: $main-font-color;
}

.back {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Анимания для попапов
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

// Стили для прелоадера
.loader,
.loader::after {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.loader {
  animation: load 1.1s infinite linear;
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  font-size: 10px;
  margin: auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
