/*
 * Стили для основного блока
 */

.central {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  max-width: 1000px;
  margin: 0 auto;
}

.central__content {
  display: flex;
  flex-direction: column;

  min-height: 740px;
  padding-top: 30px;
}
