/*
 * Стили для игровых экранов
 */

@import "../variables/colors";
@import "../mixins/text";

.game {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game__timer {
  @include bold-text;

  font-size: 60px;
  line-height: 45px;
}

.game__task {
  font-size: 22px;
  line-height: 35px;
  margin: 20px 0;
}

.game__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.game__option {
  border: 10px solid transparent;
  font-size: 0;
  height: 458px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 468px;
}

.game__answer {
  bottom: 30px;
  font-size: 0;
  height: 78px;
  position: absolute;
  width: 78px;

  & span {
    background: rgba(0, 0, 0, 0.5) no-repeat center;
    border-radius: 70px;
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
      background-color: $main-black-color;
    }
  }

  &--photo {
    left: 30px;

    & span {
      background-image: url("../img/photo_big.png");
    }
  }

  &--paint {
    right: 30px;

    & span {
      background-image: url("../img/paint_big.png");
    }
  }

  & input:focus + span {
    background-color: $main-black-color;
  }

  & input:checked + span {
    background-color: $link-hover-color;
  }
}

.game__content--wide {
  .game__option {
    height: 455px;
    width: 705px;
  }

  .game__answer {
    top: 208px;
  }

  .game__answer--photo {
    left: -100px;
  }

  .game__answer--paint {
    right: -100px;
  }
}

.game__content--triple .game__option {
  height: 455px;
  width: 304px;

  cursor: pointer;

  &:hover {
    border-color: $link-hover-color;
  }

  &:active {
    border-color: $link-active-color;
  }
}
