/*
 * Стили для приветственного экрана. Правила игры
 */

@import "../mixins/general";
@import "../mixins/text";
@import "../variables/colors";

.greeting {
  align-items: center;
  background: url("../img/egg_distort.png") no-repeat center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 740px;
  position: relative;
  transition: background-image 1s ease-in-out;
  width: 780px;
}

.greeting__asterisk {
  font-size: 80px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.greeting__challenge {
  margin: 0 auto;
  text-align: center;
}

.greeting__challenge-title {
  @include bold-text;

  margin: 0 100px;
  margin-bottom: 50px;
}

.greeting__challenge-text {
  @include regular-text;

  margin: 0;
}

.greeting__challenge-list {
  @include list-unstyled;
}

.greeting__continue {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 64px;
  padding: 0;
  position: absolute;
  right: -20px;
  top: 300px;
  width: 64px;

  &:hover svg,
  &:focus svg {
    fill: $link-hover-color;
  }
}

.greeting__top {
  position: absolute;
  right: 0;
  top: 0;
}
