/*
 * Стили для первого вступительного экрана
 */

.intro {
  align-items: center;
  background: url("../img/egg_big.png") no-repeat center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 740px;
  position: relative;
  width: 800px;
}

.intro__asterisk {
  font-size: 172px;
  left: 395px;
  line-height: 128px;
  position: absolute;
  top: 290px;
}

.intro__motto {
  font-size: 18px;
  margin: 0;
  margin-top: auto;
  position: relative;
}

.intro__top {
  position: absolute;
  right: 0;
  top: 0;
}
