/*
 * Стили для модальных окон
 */

@import "../mixins/text";

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.8);

  &--hidden {
    display: none;
  }
}

.modal__inner {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 450px;
  padding: 50px 20px;

  animation: bounce 0.6s;

  color: #000000;
  background: #a8c8c4 linear-gradient(to bottom left, #ccdeeb, #84b39e)
    no-repeat;
}

.modal__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 32px;
}

.modal__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 18px;

  &--error {
    margin-bottom: 0;
  }
}

.modal__close {
  position: absolute;
  top: -40px;
  right: -40px;

  width: 30px;
  height: 30px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.modal__button-wrapper {
  display: flex;
  justify-content: center;
}

.modal__btn {
  height: 50px;
  padding: 0 20px;

  border: 2px transparent;
  border-style: solid;
  border-radius: 5px;
  background-color: #ffffff;

  @include regular-text;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:first-of-type {
    margin-right: 15px;
  }
}
