/*
 * Стили для кнопки, по которой можно посмотреть топ-игоков.
 * Иконка в виде кубка в правом верхнем углу экранов.
 */

.top {
  background: transparent;
  border: none;
  height: 79px;
  padding: 0;
  width: 71px;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.05);
  }
}
